apiVersion: v1
kind: Service
metadata:
  name: {{ include "privategpt-react.fullname" . }}
  labels: {{- include "privategpt-react.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector: {{- include "privategpt-react.selectorLabels" . | nindent 4 }}
